<!doctype html>
<html>

<head>
    <title>{{ webstoreName }} | {{ trans("WebshopMaintenanceMode::Template.maintenanceTitle") }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        html {
            height: 100%;
        }
        body {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: 'Roboto', sans-serif !important;
            overflow-x: hidden;
        }
        .work-img {
            width: 100%;
            padding-top: 100%;
            background-image: url({{ plugin_path('WebshopMaintenanceMode') }}/images/work.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }


    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-6 offset-3 mb-5 mb-md-0 offset-md-0 col-md-3 d-flex">
                            <div class="work-img"></div>
                        </div>
                        <div class="col-12 col-md-9">
                            <h1 class="display-4">{{ trans('WebshopMaintenanceMode::Template.maintenanceHeadline') }}</h1>
                            <hr/>
                            <p class="lead">
                                {{ trans('WebshopMaintenanceMode::Template.maintenanceMessage') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>